### R ###
# History files
**/.Rhistory
**/.Rapp.history

# Session Data files
**/.RData
**/.RDataTmp

# User-specific files
**/.Ruserdata
**/.Rproj.user
**/.Rproj
.Rproj.user

# Data
data/data_raw/demux_seqs.qza
